<html>
<body>

<h4>Dear  </h4>
<h5>Thank you! You have completed your My Dental Plan enrollment process.<h5>
<h5>You will soon be getting a soft copy of Member Welcome Pack. This contains, your MemberID, Treatment Costing Document, Your Dentist's Portfolio.</h5>
</br>
<h5>If you have any further questions please contact us on info@mydentalplan.in or call us on 1-800-102-7526</h5>
</br>

<h5>Payment Details</h5>
<br/>
<table>

<tr>
        <td>
            <th class="form_details" >Payment ID</th>
        </td>
        <td>
                             
        </td>
</tr>
<tr>
        <td>
            <th class="form_details" >Transaction ID</th>
        </td>
        <td>
            
                            
        </td>
</tr>   

<tr>
        <td>
            <th class="form_details">Merchant ID</th>
        </td>
        <td>
                    
                            
        </td>
</tr>   
<tr>
        <td>
            <th class="form_details" >Billing Name</th>
        </td>
        <td>
                    
                            
        </td>
</tr>   

<tr>
        <td>
            <th class="form_details">Premium Amount</th>
        </td>
        <td>
                   0
                    
        </td>
</tr>   
<tr>
        <td>
            <th class="form_details">Service Tax</th>
        </td>
        <td>
                    0
                    
                    
        </td>
</tr>   
<tr>
        <td>
            <th class="form_details">SwipeCharge</th>
        </td>
        <td>
                    $swipecharges
                    
                    
        </td>
</tr>   

<tr>
        <td>
            <th class="form_details">Amount Paid</th>
        </td>
        <td>
                    0
                    
                    
        </td>
</tr>   
   
<tr>
        <td>
            <th class="form_details">Payment Date</th>
        </td>
        <td>
                    03/12/2015
                            
        </td>
</tr>   
<tr>
        <td>
            <th class="form_details">Transaction Code</th>
        </td>
        <td>
                    
                            
        </td>
</tr>   
<tr>
        <td>
            <th class="form_details">Transaction Status</th>
        </td>
        <td>
                    
                            
        </td>
</tr>   


</table>

<h5>MyDentalPlan Administrator</h5>
</body>

</html>