	<div class="col-md-12" >
            <h4 class="m_title">Cell:</h4>
                <div class="form-group">
                   <div class="input-group"  style="width:100%">
		    {{=form2.custom.widget.cell}}
                    </div>
                </div>
          </div>
	  
	<div class="col-md-12" >
            <h4 class="m_title">Treatment Plans:</h4>
                <div class="form-group">
                   <div class="input-group"  style="width:100%">
		    {{=form2.custom.widget.chiefcomplaint}}
                    </div>
                </div>
          </div>	  