<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/w3.css" />  
<link rel="stylesheet" href="../static/css/font-awesome.css" />  
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-white.css">

{{include 'web2py_ajax.html'}}   
</head>

<body>


<div class="w3-container">
<img src="../static/images/logo-my-dental-plan_color.png">
</div>
 <div class="w3-row">
  <div class="w3-col s4">&nbsp;</div>
  <div class="w3-col s4">
<div class="w3-container">
  <h2 class="w3-text-blue">Reset Password</h2>
  
   {{=form}}

 </div>


        
</div>
  
</div>  
  </div>
  
</div>


</body>

<footer class="w3-container w3-blue-grey w3-border" style="text-align:right" >
   <a  href="http://www.mydentalplan.in" target="_blank">© 2015 My Dental Plan. All Rights Reserved.</a><br/><a href={{=URL('default','termsandconditions')}} target="_blank">Terms & Conditions</a>
</footer>
</html>


