{{extend 'pms2_layoutw4.html'}}






                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-white">
                                            <i class="fa fa-road" style="color:#fff"></i>
                                            <span class="caption-subject bold uppercase"> Delete Role</span>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-12">
                                    <!-- BEGIN Portlet PORTLET-->
                                    <div class="col-sm-12 md_r">
				    
				    
                                       
                                        <div class="portlet-body" style="padding:20px">
                                             <div class="col-md-12 np">
                                             
                                              <div class="mt-repeater-input">
                                                                    <label class="m_title">Do you really want to delete this role?</label>
                                                                    {{=form}}
                                                       </div>  
                                           </div>   
                                           <br/>
                                          

                                        </div>
                                    </div>
                                    <!-- END Portlet PORTLET-->
                                  </div>

                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                                






                            </div>
                        </div>
                        
                        
                        




