{{extend 'pms2_layoutw4.html'}}
{{import sys}}
{{import common}}

  <div class="portlet-body">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs nav-tabs-lg">
                                                <li class="active">
                                                    <a href="#tab_1" data-toggle="tab"> Manage Staff </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_2" data-toggle="tab"> Doctor's Visiting Timing's
                                                       
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                            <div class="tab-content">
                                                   
                                            
                                                <div class="tab-pane active" id="tab_1">
                                            <div class="btn-group">
                                               <span > <a style="color:#fff"  class="btn sbold green" onclick="location.href='{{=URL('doctor','new_doctor',vars=dict(page=page,providerid=providerid,providername=providername,personnel='doctor'))}}'" >
                                                   <i class="fa fa-plus"></i>&nbsp;&nbsp;Practice Doctor</a></span>
                                               <span > <a style="color:#fff"  class="btn sbold green" onclick="location.href='{{=URL('doctor','new_doctor',vars=dict(page=page,providerid=providerid,providername=providername,personnel='staff'))}}'" >
                                                   <i class="fa fa-plus"></i>&nbsp;&nbsp;Practice Staff</a></span>
                                            </div>
                                                
                                                   <div id="home" class="tab-pane fade in active">
    <h3>DOCTORS</h3>
     <div class="table-responsive">
     
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                            <th> Name </th>
                                                            <th> Speciality </th>
                                                            <th> Role </th>
                                                            <th> Action </th>
                                                     </tr>
                                                </thead>
                                                <tbody>
                                                
                                                    {{for i in xrange(0, len(staff),1): }}
                                                    {{if(staff[i].doctor.stafftype == 'Doctor'):}}
                                                        <tr>
                                                            <td>{{=staff[i].doctor.name}}</td>
                                                            <td>{{=staff[i].speciality_default.speciality}}</td>
                                                            <td>{{=staff[i].role_default.role}}</td>
                                                           
                                                            <td> <a href="{{=URL('doctor','update_doctor',vars=dict(doctorid=staff[i].doctor.id,personnel='doctor'))}}">Edit</a>/<a href="{{=URL('doctor','delete_doctor',vars=dict(doctorid=staff[i].doctor.id))}}">Delete</a> </td>
                                                        </tr>
                                                      {{pass}}
                                                      {{pass}}
                                                   
                                                    
                                                
                                                </tbody>
                                            </table>
                                          
                                        </div>



<h3>STAFF</h3>
     <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                            <th> Name </th>
                                                            <th> Role </th>
                                                            <th> Action </th>
                                                     </tr>
                                                </thead>
                                                <tbody>
                                                    {{for i in xrange(0, len(staff),1): }}
                                                    {{if(staff[i].doctor.stafftype == 'Staff'):}}
                                                        <tr>
                                                            <td>{{=staff[i].doctor.name}}</td>
                                                            <td>{{=staff[i].role_default.role}}</td>
                                                            <td> <a href="{{=URL('doctor','update_doctor',vars=dict(doctorid=staff[i].doctor.id,personnel='staff'))}}">Edit</a>/<a href="{{=URL('doctor','delete_doctor',vars=dict(doctorid=staff[i].doctor.id))}}">Delete</a> </td>
                                                        </tr>
                                                      {{pass}}
                                                      {{pass}}                                                
                                                    
                                                    
                                                   
                                                    
                                                
                                                </tbody>
                                            </table>
                                           
                                        </div>


  </div> 
                                                    
                                                   
                                                   
                                                </div>
                                                <div class="tab-pane" id="tab_2">
                                                   
   <h3>Doctor's Visiting Timing's</h3>
  
    <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th> Doctor's </th>
                                                        <th> Visit Timings </th>
                                                        <th> Lunch Timing </th>
                                                        <th> Action </th>
                                                     </tr>
                                                </thead>
                                                <tbody>
                                                                                            {{for i in xrange(0, len(timings),1): }}
                                                                                                <tr>
                                                                                                    <td>{{=timings[i].doctor.name}}</td>
                                                                                                    <td>{{="Not Set" if(timings[i].doctortiming.visitinghours == None) else timings[i].doctortiming.visitinghours}}</td>                                                                                                   
                                                                                                    <td>{{="Not Set" if(timings[i].doctortiming.lunchbreak == None) else timings[i].doctortiming.lunchbreak}}</td>  
                                                                                                    <td> <a href="{{=URL('doctor','doctor_timings',vars=dict(doctorid = timings[i].doctor.id,doctortimingid = int(common.getid(timings[i].doctortiming.id))))}}">Edit</a>/<a href="{{=URL('doctor','delete_doctortiming',vars=dict(doctorid = timings[i].doctor.id,doctortimingid = int(common.getid(timings[i].doctortiming.id))))}}">Delete</a> </td>
                                                                                                </tr>
                                                                                              {{pass}}
                                                   
                                                    
                                                
                                                </tbody>
                                            </table>
                                           
                                        </div>
  
  
                                                    
                                                </div>
                                                </div>
                                              
                                                
                                                
                                            </div>
                                        </div>