{{extend 'pms2_layoutw4.html'}}
 <script src="https://www.postdicom.com/cloud-api/PostDicomCloudApi.2.0.min.js" type="text/javascript"></script>   

<style>
.folder_upload_class {
            background-color: #0080ff;
            text-align: center;
            color: #ffffff;
            padding: 0.6em;
            border: 1px solid transparent;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            outline: none;
            cursor: pointer;
            width: 300px;
            height: 35px;
            line-height: 20px;
            margin-top: 0px;
            text-indent: -9px;
            transition: 0.15s all ease;
            font-size: 14px;
        }
</style>
{{=formA.custom.begin}}

<table>
<tr>
<td style="width:50%">
<div class="row">
			    <div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet light bordered">
				    <div class="portlet-title">
					<div class="caption font-white">
					    <i class="fa fa-image" style="color:#fff"></i>
					    <span class="caption-subject bold uppercase"> New Dental Image: {{=patientname}} &nbsp;|&nbsp;Member ID: {{=memberref}}</span>
					</div>
				       
				    </div>
				    <br/>
				    
					
				    <div class="col-md-12">
				   
					<!--row1-->
					    <div class="col-md-4">
						<div class="form-group">
						  
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 {{=formA.custom.widget.title}}
							
						    </div>
						</div>
					    </div>
					    <div class="col-md-4">
						 <div class="mt-repeater-input">
							{{=formA.custom.widget.mediadate}}                                                            
							    
					       </div>
					    </div>
					    <div class="col-md-4">
						 <div class="form-group">
						  
						    <div class="input-group">
						       <h4 class="m_title">Member</h4>
							 {{=membername}}
						    </div>
						</div>
					    </div>
				    </div>
				    <!---end row1-->
					    <div class="col-md-12">
					    <div class="col-md-12">
						 <div class="form-group">
						  
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						       <select id="patients" class='form-control'>
							{{ for i in xrange(0, len(dspatients)): }}
							     {{if(dspatients[i][0] == patientid):}}
								   <option   selected value={{=dspatients[i][0]}}> {{=dspatients[i][1]}}:{{=dspatients[i][2]}}</option>
							     {{else:}}
							     <option   value={{=dspatients[i][0]}}>{{=dspatients[i][1]}}:{{=dspatients[i][2]}}</option>
							     {{pass}}
							 {{pass}}
						      </select>
						    </div>
						</div>
					    </div>
					    </div>
				    
				    <div class="col-md-12">
					    <div class="col-md-6">
						 <div class="form-group">
						  
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.tooth}} 
						    </div>
						</div>
					    </div>
					    <div class="col-md-6">
				    
						 <div class="form-group">
						  
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.quadrant}} 
						    </div>
						</div>
					    </div>
				    </div>
                                     <div class="col-md-12">
					    <div class="col-md-12">
						 <div class="form-group">
						  
						    <div class="input-group">
							 <h4 class="m_title">Intra-Oral X-Ray/Image Description</h4>
							{{=formA.custom.widget.description}}
						    </div>
						</div>
					    </div>
				    </div>					    
					    
     <br/>
    <div class="col-md-12">
      <div class="col-md-12">
	<div class="form-group">
	  <div class="input-group">    
	     <input type="file">     
	  </div>
	</div>
       </div>
    </div>					    
<br/>
    <div class="col-md-12"  style="display:none">
      <div class="col-md-12">
	<div class="form-group">
	  <div  class="input-group">    
             {{=formA.custom.widget.imagedata}}     
	  </div>
	</div>
       </div>
    </div>					    
					
 <br/>
    <div class="col-md-12">
      <div class="col-md-12">
	<div class="form-group">
	  <div id="imgDiv" class="input-group">    
	     {{=error}} 
	     <label id='imgsize'></label>
	  </div>
	</div>
       </div>
    </div>   	
    
    <br/>
    <div class="col-md-12">
      <div class="col-md-12">
	<div class="form-group">
	  <div id="uploadImg" class="input-group">    
	    {{if (mediaurl != ""):  }}
		<img src="{{=mediaurl}}" class="img_responsive center-block" />
	    {{pass}}	       
 	  </div>
	</div>
       </div>
    </div>   
    <br/>
    <div class="col-md-12">
      <div class="col-md-12">
	<div class="form-group">
	  <div id="importImg" class="input-group">    
	   
		{{=formA.custom.submit}}
		<input  type="button" class="form_details_button" onclick="window.location='{{=returnurl}}';return false" value="Cancel">
	  
 	  </div>
	</div>
       </div>
    </div> 
				    <br/>
				    
				    <!---  DICOM -->

					    
				    </div>				    
				    <br/>
					<div class="col-md-12">
					    <div class="col-md-4">
						<div class="form-group">
						 <label class="m_title">DICOM User Uuid</label>
						  
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 {{=formA.custom.widget.dicomUserUuid}}
						    </div>
						</div>
					    </div>
					    
					    <div class="col-md-4">
						<div class="form-group">
						 <label class="m_title">DICOM Account Uuid</label>
						
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 {{=formA.custom.widget.dicomAcctUuid}}
						    </div>
						</div>
					    </div>
					    
					    <div class="col-md-4">
						 <div class="form-group">
						 
						 <label class="m_title">DICOM Institution ID</label>
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomInstUuid}} 
						    </div>
						</div>
					    </div>
				    </div>
				    <div class="col-md-12">
					    <div class="col-md-4">
						<div class="form-group">
						   <label class="m_title">DICOM Patient Name</label>
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 {{=formA.custom.widget.dicomPatName}}
						    </div>
						</div>
					    </div>
					    
					    <div class="col-md-4">
						<div class="form-group">
						   <label class="m_title">DICOM Patient Uuid</label>
						
						
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 {{=formA.custom.widget.dicomPatUuid}}
						    </div>
						</div>
					    </div>
					    
					    <div class="col-md-4">
						 <div class="form-group">
						   <label class="m_title">DICOM Patient ID</label>
						 
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomPatid}} 
						    </div>
						</div>
					    </div>
				    </div>					    
				
				<div class="col-md-12">
				    
				    <div class="col-md-4">
						 <div class="form-group">
						   <label class="m_title">Performed Date</label>
						
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomPerformedDate}} 
						    </div>
						</div>
						
				     </div>    
				    <div class="col-md-4">
						 <div class="form-group">
						   <label class="m_title">DICOM Patient Order Uuid</label>
						 
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomPatOrderUuid}} 
						    </div>
						</div>
						
				     </div>    
				     <div class="col-md-4">
						 <div class="form-group">
						   <label class="m_title">DICOM Procedure Description</label>
						 
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomProcDesc}} 
						    </div>
						</div>
						
				     </div>    
				     
				     </div>
				    <div class="col-md-12">
				    <div class="col-md-12">
						 <div class="form-group">
						   <label class="m_title">DICOM Image Url</label>
						
						 
						    <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							{{=formA.custom.widget.dicomURL}} 
						    </div>
						</div>
				     </div>    
				     </div>  
				     
				     <div id="DICOM1" class="col-md-4" >   
					<div class="btn-group" style="margin: 0px 15px 20px 0px;">
					<input id="upload_file_input" name="upload_file_input" type="file" onchange="loader(this.id),SelectFiles(event,1)" multiple style="display:none; width:50%; color: #002825; cursor: pointer; font-size: 14px; float: left; outline: none;" />
					<label id="folder_upload_class_cursor1" class="folder_upload_class" for="upload_file_input">Choose DICOM File to Upload (.dcm)<i class="fa fa-spinner fa-spin" id="loaderDIVupload_file_input" style="display:none"></i></label>&nbsp;&nbsp;<span id="upload_file_name"></span>
					</div>
				    </div>  				     
					   
		   
					
			</div>
			</div>
			</div>
			

<div  style="display:none">
    {{=formA.custom.widget.patient}}
    {{=formA.custom.widget.patienttype}}
    {{=formA.custom.widget.patientmember}}
    {{=formA.custom.widget.patientname}}
    {{=formA.custom.widget.provider}}

</div>    

</td>

</tr>
</table>

                        
{{=formA.custom.end}}
<br/>
<script>
$(document).ready(function(){
   
    $("#patients").change(function(){
       var x = $('#patients').val();
       var y = $('#patients :selected').text();
       var z = $('#patients :selected').index();
       
       splitarr = y.split(':')       
       
       $("#dentalimage_patient").val(x);
       $("#dentalimage_patienttype").val(splitarr[0]);
       $("#dentalimage_patientname").val(splitarr[1]);
       
      
    });
    
    $('#IMG').prop('checked', true);
    $('#DICOM').prop('checked', false);
    imageType();
    
});




</script>
<script>


const input = document.querySelector('input[type="file"]')
input.addEventListener('change',function(e){
 console.log(input.files)
 if(input.files[0].size > 50000000){
    alert('${input.files[0].name} is too big! Max allowed is 5MB') 
 }
 const reader = new FileReader()
 reader.onload = function() {
    <!--x = reader.result-->
    <!--console.log(x)-->
    
    <!--y = document.getElementById("inp1")-->
    
    <!--alert("y=" + y)-->
    <!--y.value = x-->
    
    <!--const img  = new Image()-->
    <!--img.src  = reader.result-->
    
    <!--console.log(img.src)-->
    <!--y = document.getElementById("inp1")-->
    <!--y.value = img.src-->
    
    const img = new Image()
    img.onload = function(){
      console.log(img.width, img.height)
      const canvas = document.createElement('canvas',img.width,img.height)    
      const context = canvas.getContext('2d')
      context.drawImage(img,0,0)
      
      const imageData = context.getImageData(0,0,img.width,img.height)
      <!--console.log(imageData)-->
      
    
    }
    img.src = reader.result
    <!--document.body.appendChild(img)-->

    
    document.getElementById("imgDiv").appendChild(img)
    <!--console.log(img.src)-->
    
    x = img.src.split(',')
    <!--console.log(x[0])-->
    <!--console.log(x[1])-->
    
    <!--z = document.getElementById('inp1')-->
    <!--z.value = x[1]-->
    
    w = document.getElementById('no_table_imagedata')
    w.value = x[1]
    
 }

 //reader.readAsText(input.files[0])
 reader.readAsDataURL(input.files[0])
 a = document.getElementById('imgsize').innerHTML = "Image Size = " + input.files[0].size
 
},false)
</script>
<script>
var userUuid;
var accountUuid;
var institutionUuid;
var userName;

var patientName;
var patientID;
var patientUuid;
var patientOrderUuid;
var procDesc;
var performedDate;

var imageURL;

var mdpFolder;
var mdpFolderUuid;

var patFolder;
var patFolderUuid;

var selectedFilesList;


var getFolderListFlag;
var createFolderFlag;




function SelectFiles(event, type) {
    alert('Select Files Complete')
    selectedFilesList = event.target.files
    
    var x = document.getElementById("upload_file_input")
    document.getElementById("upload_file_name").innerText = "  DICOM File: " + x.files[0].name + " is selected"
    
    document.getElementById("dentalimage_dicomPatName").value = "";
    document.getElementById("dentalimage_dicomPatid").value = "";		
    document.getElementById("dentalimage_dicomPatUuid").value = "";
    document.getElementById("dentalimage_dicomPatOrderUuid").value = "";		
    document.getElementById("dentalimage_dicomProcDesc").value = "";	
    document.getElementById("dentalimage_dicomPerformedDate").value = "";	
    document.getElementById("dentalimage_dicomURL").value = "";			
  			
    
    uploadDICOMFile();
    
   

     
    
}
	

function initialize_CB(result)
{
   <!--alert('Intialization Completed');-->
   <!--alert(result.Success);-->
    if (result.Success) {
	   <!--alert("inside success")-->
		<!--console.log(result.Account);-->
		<!-- alert(result.Account.AccountUuid); -->
		<!-- alert(result.Account.UserList[0].InstitutionList[0].InstitutionUuid); -->
		<!-- alert(result.Account.UserList[0].FullName + " " + result.Account.UserList[0].UserName + " " + result.Account.UserList[0].UserUuid); -->
		userUuid = result.Account.UserList[0].UserUuid;
		accountUuid = result.Account.AccountUuid;
		institutionUuid = result.Account.UserList[0].InstitutionList[0].InstitutionUuid;
		patientName = result.Account.UserList[0].FullName;
		userName = result.Account.UserList[0].UserName;
		
		document.getElementById("dentalimage_dicomUserUuid").value = userUuid;
		document.getElementById("dentalimage_dicomAcctUuid").value = accountUuid;
		document.getElementById("dentalimage_dicomInstUuid").value = institutionUuid;
		
	}
}


function getFolderList_CB(result)
{
	<!--alert('Get Folder List Completed')-->
	mdpFolder = false;
	mdpFolderUuid = "";	
	if(result.Success)
	{
		<!--alert('Get Folder List Success')-->
		if(result.Folder.SubFolderCount > 0){
		    var i;
		    for (i = 0; i < result.Folder.SubFolderCount; i++) {
			if(result.Folder.SubFolderList[i].FolderName == 'MyDentalPlan'){
			    mdpFolder = true;
			    mdpFolderUuid = result.Folder.SubFolderList[i].FolderUuid;
			    break;
			}
		    }
		}
		<!--- If MyDenalPlan does not exist, then create one-->	
		if(mdpFolder == false){
		    <!--alert("MDP Folder Does Not Exists") -->
		    myApi.CreateFolder(userUuid, "", "MyDentalPlan", createFolder_CB);
		}
		else{
		    myApi.GetFolderList(userUuid, mdpFolderUuid, "", true, getSubFolderlist_CB);
		}
	}
}





function createFolder_CB(result)
{
	mdpFolderUuid = "";
	mdpFolder = false;
	if(result.Success)
	{
	    mdpFolderUuid = result.FolderUuid;
	    mdpFolder = true;
	    myApi.GetFolderList(userUuid, mdpFolderUuid, "", true, getSubFolderlist_CB);
	    
	    
	}
}


function getSubFolderlist_CB(result)
{
	
	patFolder = false;
	patFolderUuid = "";	
	if(result.Success)
	{
		if(result.Folder.SubFolderCount > 0){
		    var i;
		    for (i = 0; i < result.Folder.SubFolderCount; i++) {
			if(result.Folder.SubFolderList[i].FolderName == "{{=memberref}}"){
			    patFolder = true;
			    patFolderUuid = result.Folder.SubFolderList[i].FolderUuid;
			    break;
			}
		    }   		    
		}
		<!--- If patient Sub folder does not exist, then create one-->	
		if(patFolder == false){
		    <!--alert("Patient Sub Folder Does Not Exists") -->
		    myApi.CreateFolder(userUuid, mdpFolderUuid, "{{=memberref}}", createSubFolder_CB);
		}
		else{
		    myApi.UploadDicomFilesIntoFolder(userUuid, institutionUuid, patFolderUuid, selectedFilesList, uploadDicomFilesToFolder_CB);
		}		
	}
}

function createSubFolder_CB(result)
{
	patFolder = false;
	patFolderUuid = "";
	if(result.Success)
	{
	    patFolderUuid = result.FolderUuid;
	    patFolder = true;
	    myApi.UploadDicomFilesIntoFolder(userUuid, institutionUuid, patFolderUuid, selectedFilesList, uploadDicomFilesToFolder_CB);
	}
}


function uploadDicomFilesToFolder_CB(result)
{
	console.log(result)
	
		
	if(result.State == "File already exists.")
	{
	    patientName = ""
	    patientID = ""
	    patientUuid = ""
	    patientOrderUuid = ""
	    procDesc = ""	   
	    patientName = result.PatientOrder.PatientName;
	    patientID = result.PatientOrder.PatientId;
	    patientUuid = result.PatientOrder.PatientUuid;
	    patientOrderUuid = result.PatientOrder.PatientOrderUuid;
	    procDesc = result.PatientOrder.RequestedProcedureDescription;
	    performedDate = result.PatientOrder.PerformedDatetime;
			
	}
	if(result.State == "Upload Completed")
	{
		<!--alert("Upload Completed")-->
		if(result.PatietOrderList != null)
		{
		    if(result.PatietOrderList.length >0)
		    {
			    
			    patientName = ""
			    patientID = ""
			    patientUuid = ""
			    patientOrderUuid = ""
			    procDesc = ""				    
			    patientName = result.PatietOrderList[0].PatientName;
			    patientID = result.PatietOrderList[0].PatientId;
			    patientUuid = result.PatietOrderList[0].PatientUuid;
			    patientOrderUuid = result.PatietOrderList[0].PatientOrderUuid;
			    procDesc = result.PatietOrderList[0].RequestedProcedureDescription;
			    performedDate = result.PatietOrderList[0].PerformedDatetime;
    
			    
		    }
		}
		
		document.getElementById("dentalimage_dicomPatName").value = patientName;
		document.getElementById("dentalimage_dicomPatid").value = patientID;		
		document.getElementById("dentalimage_dicomPatUuid").value = patientUuid;
		document.getElementById("dentalimage_dicomPatOrderUuid").value = patientOrderUuid;		
		document.getElementById("dentalimage_dicomProcDesc").value = procDesc;	
		document.getElementById("dentalimage_dicomPerformedDate").value = performedDate;	
		
		myApi.GetViewUrl(userUuid, patientOrderUuid, getViewUrl_CB);
	}
}

function getViewUrl_CB(result)
{
	<!--alert('getviewurl completed');-->
	if(result.Success)
	{
	    imageURL = result.Result
	    document.getElementById("dentalimage_dicomURL").value = imageURL;	
	    <!--alert('Success' + " " + imageURL)-->
	    <!--window.open(imageURL);-->
	}
}

var myApi = new postDicomCloudApi("650d30b3-2938-4f4f-86f5-4aa651a4c95a", "10ee24cd-5cad-4d46-b5ae-b4f0167ac794");
myApi.Initialize(initialize_CB);



function uploadDICOMFile(){

    alert('Enter uploadDICOMFile')
    <!--- Create MyDentalPlan folder if it does not exists-->
    myApi.GetFolderList(userUuid, "", "", true, getFolderList_CB); 
    <!--if(mdpFolder == false){-->
	<!--alert("MDP Folder Does Not Exists") -->
	<!--myApi.CreateFolder(userUuid, "", "MyDentalPlan", createFolder_CB);-->
    <!--}-->
    
   <!--<!--- Create Patient specific folder if it does not exist-->-->
    <!--myApi.GetFolderList(userUuid, mdpFolderUuid, "", true, getSubFolderlist_CB); -->
    <!--if(patFolder == false){-->
	<!--<!--alert("Patient Sub Folder Does Not Exists") -->-->
	<!--myApi.CreateFolder(userUuid, mdpFolderUuid, #=patientmember}}, createSubFolder_CB);-->
    <!--}-->
    
    <!--<!-- Upload selected file into the sub-folder specific to the patient-->-->
    <!--myApi.UploadDicomFilesIntoFolder(userUuid, institutionUuid, patFolderUuid, selectedFilesList, uploadDicomFilesToFolder_CB);    -->
    
    <!--<!-- Get View Image URL -->-->
    <!--myApi.GetViewUrl(userUuid, patientOrderUuid, getViewUrl_CB);-->
    

}

function imageType(){
    
    
    if(document.getElementById("IMG").checked){
       document.getElementById("IMG1").style.display = "block";
       document.getElementById("DICOM1").style.display = "none";
       
	 
    }
    
    if(document.getElementById("DICOM").checked){
       document.getElementById("IMG1").style.display = "none";
       document.getElementById("DICOM1").style.display = "block";
	    
    }
    
}
</script>