{{extend 'pms2_layoutw4_relgr.html'}}

<style>
.login .content .form-actions{border:none !important}
</style>
{{=form.custom.begin}}  

                        <div class="row">
                            <div class="container" style="width: 100%;margin: 0px auto;">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title tabbable-line">
                                        <div class="portlet-title" style="padding:0px 20px  !important">
                                            <div class="caption font-white" style="    width: 100%;">
                                                <i class="fa fa-user" style="color:#fff"></i>
                                                <span class="caption-subject bold uppercase">ABHICL Member</span>
                                            </div>
                                        </div>
                                    </div>		
                                    
                                    <div class="col-md-12">
                                    <!-- BEGIN Portlet PORTLET-->
                                    <div class="col-sm-12 md_r">
                                       
                                        <div class="portlet-body" style="padding:20px">
                                            <div class="col-md-12 np">
                                                <div class="col-sm-12">	
                                                            <div id="sendotp" class="form-group">
                                                                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                                <label>Enter Member ABHICL ID</label>
                                                                <div class="input-icon">
                                                                    <i class="fa fa-credit-card"></i>
                                                                    {{=form.custom.widget.abhiclid}}
                                                                </div>
                                                                <span style="color:red">{{=message}}</span>
                                                            </div>
                                                </div>
                                                <div class="col-sm-12">	
                                                            <div id="sendotp" class="form-group">
                                                                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                                <label>Enter Policy Plan</label>
                                                                <div class="input-icon">
                                                                    <i class="fa fa-credit-card"></i>
                                                                    {{=form.custom.widget.abhiclpolicy}}
                                                                </div>
                                                                <span style="color:red">{{=message}}</span>
                                                            </div>
                                                </div>
                                                
                                                
                                                

                                                <div class="col-sm-12">	
                                                         <button id="VAL" type="submit" onclick="loader(this.id)" class="btn green"> <span style="float: left;color:#000 !important">Submit</span><i class="fa fa-spinner fa-spin" id="loaderDIVVAL" style="display:none"></i></button>
                                                         <a href="{{=returnurl}}" class="btn green">Cancel </a>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Portlet PORTLET-->
                                  </div>

                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                                

                            </div>
                        </div>
                                                
            <div style="display:none">                
               
            </div>		    
            {{=form.custom.end}}  
            <!--</form>-->
            
           
      
        
<script>
       

        

</script>






