                                           <div class="col-md-12 np">                                           
                                           <h5><strong>Current Treatment Procedure</strong></h5>
                                           <table class="table table-striped table-bordered table-hover">
                                             <tr>
                                                <td style="width:50%">
                                                <label class="m_title">Treatment Fee</label>
                                                </td>
                                                
                                                <td style="width:50%">
                                                {{=treatmentcost}}
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                <label class="m_title">Authorized Payment by Insurance</label>
                                                </td>
                                                <td>
                                                {{=inspays}}
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                <label class="m_title">Patient Pays (pre-Discount)</label>
                                                </td>
                                                
                                                <td>
                                                {{=precopay}}
                                                </td>
                                             </tr>
                                              <tr>
                                                <td>
                                                <label class="m_title">Wallet Amount</label>
                                                </td>
                                                
                                                <td>
                                                {{=walletamount}}
                                                </td>
                                             </tr>
                                             
                                              <tr>
                                              <td>
                                              
                                              
                                                      
                                                        <label class="m_title">Voucher</label>
                                                              <div class="input-group" style="width:100%">
                                                                <select  class="form-control" id="vouchers" name="vouchers">
                       {{ for i in xrange(0, len(vlist)): }}
                         <option id="optvoucher" value={{=vlist[i]["voucher_code"]}}>{{=vlist[i]["voucher_code"]}} ({{=vlist[i]["voucher_message"]}})</option>
                        {{pass}}
                      </select>
                                    
                                                              </div>
                                                                                      
                                              </td>
                                              <td>
                                              <label class="m_title">Voucher</label>
                                              <div>
                                               <button id="VC" style="margin: 8px 3px;float:left"  type="button"  onclick="loader(this.id),applyVoucher()" class="btn green" >Apply Voucher<i class="fa fa-spinner fa-spin" id="loaderDIVVC" style="display:none"></i></button>&nbsp;&nbsp;{{=displaymssg}}
                                               </div>
                                              </td>
                                              </tr>
                                              
                                              <tr>
                                                <td>
                                                <label class="m_title">Discount&nbsp;&nbsp;&nbsp;&nbsp;
                                                
                                                </label>

                                                </td>
                                                
                                                <td>
                                                {{=discount_amount}}
                                                </td>
                                             </tr>
                                              <tr>
                                                <td>
                                                <label class="m_title">Company Pays&nbsp;&nbsp;&nbsp;&nbsp;
                                                
                                                </label>

                                                </td>
                                                
                                                <td>
                                                {{=companypays}}
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                <label class="m_title">Patient Pays (after-Discount)</label>
                                                </td>
                                                
                                                <td>
                                                {{=copay}}
                                                </td>
                                             </tr>
                                           
                                           </table>
                                           
                                           </div>
                                           <br>  
                                           
                                           <div class="col-md-12 np">
                                          <h5><strong>Running Total</strong></h5>
                                           <table class="table table-striped table-bordered table-hover">
                                                <tr>
                                                    <td style="width:50%">
                                                    <label class="m_title">Total Paid</label>
                                                    </td>
                                                    
                                                    <td style="width:50%">
                                                   {{=totalpaid}}
                                                    </td>
                                                </tr>		

                                                <tr>
                                                    <td style="width:50%">
                                                    <label class="m_title">Total Due</label>
                                                    </td>
                                                    
                                                    <td style="width:50%">
                                                   {{=totaldue}}
                                                    </td>
                                                </tr>		
                                                
                                           </table>
                                           </div>
