<!DOCTYPE html>
<html>
<head>
<title>PineLabs Payment Error</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/w3.css" />  
<link rel="stylesheet" href="../static/css/font-awesome.css" />  
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-white.css">

{{include 'web2py_ajax.html'}}   
</head>

<body>


<div class="w3-container">
<img src="../static/images/logo-my-dental-plan_color.png">
</div>

  <header class="w3-container w3-black">
    <h3>PineLabs Payment Error</h3>
  </header>
  

   <div class="w3-container">
     <h5>{{=message}}</h5>
    {{=A(T("Return"),_href=returnurl)}}
   </div>
  



</body>


</html> 
