<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<html lang="en">

<head>


<title>MDP - Welcome to Login Page</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="my dental plan" />
  <meta name="author" content="my dental plan pvt ltd" />	   
{{response.cookies[response.session_id_name] =response.session_id}}
{{response.cookies[response.session_id_name]["Secure"] =  True}}
{{response.cookies[response.session_id_name]["HttpOnly"] =  True}}    
  <!--<link rel="shortcut icon" href="('static','images/favicon.ico')}}" type="image/x-icon">-->
  <!--<link rel="apple-touch-icon" href="('static','images/favicon.png')}}">-->

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.min.js')}}"></script>
  <script src="../../static/assets/js/ie-10-view-port.js"></script>
  <!--<script type="text/javascript" src="bootstrap-datepicker.de.js" charset="UTF-8"></script>-->
<!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
   
  response.files.insert(5,URL('static','css/a_0_d_6_37b05b8569784a9da171eeaef5ad50bb059e.css'))
  response.files.insert(6,URL('static','css/e_9_1_6_5d74692be0bad800db4df29af06dfc7127f4.css'))
  response.files.insert(4,URL('static','css/mydental.css'))
  response.files.insert(7,URL('static','assets/css/bootstrap.css'))
  response.files.insert(8,URL('static','assets/css/ionicons.css'))
  response.files.insert(9,URL('static','assets/css/font-awesome.css'))
  response.files.insert(10,URL('static','assets/css/style.css'))

  
  
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = False
  right_sidebar_enabled = False
  middle_columns = 'span12'
  }}

  <!-- uncomment here to load jquery-ui
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
  uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  
    
  {{block head}}{{end}}
  
</head>

<body>
  
   <!-- HEADER SECTION START-->
   <header id="header">
        <div class="container" >
                <div class="row"  >
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper">
                         <img src="{{=URL('static','assets/img/logo.png')}}" alt="" />
                     </div>
                </div>
            </div>
   </header>
    
  {{include}}
  <div class="container-fluid">
    <footer>
        <div class="container">
        <div class="row text-center">
          <div class="col-lg-12 col-md-12 col-sm-12">
                             &copy; 2015 mydentalplan.in | by <a href="http://www.mydentalplan.in" target="_blank"> sujcreativeINC </a> 
          </div>
      </div>
    </div>
    </footer>
    <!-- FOOTER SECTION END-->
    </div>

  

  
</body>
</html>

