{{extend 'qlayout.html'}}

{{
response.files.insert(0,URL('static','js/jquery.js'))
response.files.insert(2,URL('static','js/calendar.js'))
response.files.insert(3,URL('static','js/web2py.js'))

from datetime import datetime
}}




<style>
.fc-row .fc-bg {
    z-index: 1;
    border-left: 1px solid #d6d6d6;
}
.fc-axis span{color:#000 !important}
.portlet.calendar .fc-button .fc-icon{color:#000 !important}
.caption-subject .bold .uppercase{color: #000 !important;}
.nav>li>a {padding: 3px 9px;}
.nav-pills>li>a, .nav-tabs>li>a {font-size: 14px;}
.portlet.calendar .fc-toolbar h2{margin-top: -65px;}
.fc-view, .fc-view > table{top: -33px;}
#suggestions { position: relative; }
.suggestions { background: white;z-index: 50000 !important;height: 250px; overflow-y: auto;border-bottom:1px solid #eeeeee;}
.suggestions DIV { padding: 2px 4px 2px 4px; }
.m-portlet__head-text{margin: 0px 0px 14px 0px;font-size: 15px;color: #eda026;font-weight: 400;}
.pat_details tr td{width: 100%;font-size:11px}
label{font-size:14px}
h5 {display: inline;}
.gr{background-color: #28b779  !important;border-color: #28b779  !important;color: #fff;font-size: 12px;font-weight: 600;}
.or{background-color: #ec871e !important;border-color: #ec871e !important;color: #fff;font-size: 12px;font-weight: 600;}
.rd{background-color: #fff !important;border-color: #f44336 !important;color: #000;font-size: 12px;font-weight: 600;}

.bl{background-color: #fff !important;border-color: #447bb2 !important;color: #fff;font-size: 12px;font-weight: 600;}
.bl:hover{background-color: #447bb2 !important;border-color: #447bb2 !important;color: #fff !important;font-size: 9px;font-weight: 600;}
.tit{display:inline;font-weight: 700;}
.hi{display: none !important}
hr{border-bottom: 1px solid #eda026;margin-bottom: 3px;margin-bottom: 3px;margin-top: -9px;}

.m-portlet__cal{height: auto !important;overflow-y:hidden}
        .calendar thead tr, .calendar thead .headrow {
          background-color: #eee;
          color: #000000;
        }
	.form-control{height: 31px;}
.page-content-wrapper .page-content{margin-top: 13px !important;}
	.page-header.navbar .menu-toggler.sidebar-toggler{margin-top: 76px !important;}
        .docter{list-style-type:none;padding-top:8px;text-align:left;margin-top:8px;border:1px solid #eee;padding-left: 11px;}
	.dp{padding-left:6px;font-size:12px}
        .blue1{border-left:3px solid #160cd1; }
        .red1{border-left:3px solid #c90047;}
        .green1{border-left:3px solid #00ff42;}
        .orange1{border-left:3px solid #ffc000;}
        .lightgreen1{border-left:3px solid #c6ff00;}
        .skyblue1{border-left:3px solid #00c6ff;}
    
    .dataTables_filter{float:right !important;}
    .dataTables_filter input{width:377px !important;}
    .scrolcont{height:100%;}
    .ic{font-size: 12px;color: #000 !important; padding: 0px 0px;}
</style>

<script>
	$(document).ready(function() {
	
		$("#suggestions").show();
		
		$("#suggestions") .click(function(){
		  
		    x= $("#no_table_patientmember").val();
	    
		    
		    $("#no_table_xpatientmember").val(x);
		    
	    
		    $("#suggestions").hide();
		    
		
		});	
		
	});

</script>

<div class="row">
    
 
    
       {{=form.custom.begin}}
    <div class="search-bar">
        <div class="row" style="width:100%">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <div class="input-group">
		    <table>
		    <tr>
		    <td style="width:80%">
			   {{=form.custom.widget.patientmember1}}
		   
		    </td>
		    <td style="width=20%">
	            <span class="input-group-btn" style="width:25%">
                        <button id="QT" class="btn ivory bl" style="margin:0px 24px 0px 2px;" onClick="loader(this.id),qTreatment()" type="submit" ><span style="float: left;" class="ic">Next Step>> Enter Treatment</span><i class="fa fa-spinner fa-spin" id="loaderDIVQT" style="display:none"></i></button>&nbsp;

                        <button id="NW" class="btn ivory bl" style="margin:0px 3px;" onClick="loader(this.id),newPatient()" type="submit" ><span style="float: left;" class="ic">New Walk-In</span><i class="fa fa-spinner fa-spin" id="loaderDIVNW" style="display:none"></i></button>
		    </span>
		    </td>
		    </tr>
		    </table>
                
            </div>
        </div>
    </div>
      <div id="hide" style="z-index:50000; ">
	<p id="phide">Click <strong>X</strong> to close the Patient List after selection</p>
    </div>
    <div style="position: absolute;" id="suggestions" class="suggestions">
  
    </div>
  

    <div style="display:none;">
	{{=form.custom.widget.xpatientmember1}}
	{{=form.custom.submit}}
	{{=form.custom.widget.xaction}}
    </div>


    {{=form.custom.end}} 
 


</div>




 




<script>

$(document).ready(function(){
   
   
   $("#hide").hide()
    $("#phide").click(function(){
       <!--ajax('{{=URL('appointment', 'appointment_hide')}}',  ['patientmember','xmemberid'], 'suggestions')-->
        $("#hide").hide();
	 $("#suggestions").hide();
    });   
   
    $("#suggestions").show();
   
    $("#suggestions") .click(function(){
      
    
        <!-- <fname lname:memberid>-->
	x1 = $("#no_table_patientmember1").val();
	
      
	$("#no_table_xpatientmember1").val(x1);
	
	var strarr1 = x1.split(":")
	
     
	$("#no_table_patientmember1").val(strarr1[0])
      
      	
      
      
	$("#suggestions").hide();
	$("#hide").hide()
	 
	
    
    });

       
    $("#suggestions2").show();
    
    $("#suggestions2") .click(function(){
      
	
        $("#hide").hide()
	x= $("#no_table_patientmember").text();
	
	$("#no_table_xpatientmember").val(x);
	
	var strarr = x.split(":")


	$("#no_table_patientmember").val(strarr[0])
      
      	ajax('{{=URL('admin', 'getcell')}}',  ['patientmember','xmemberid','xpatientmember'], 'cell1')
      
      
	$("#suggestions2").hide();
	
	 
	
    
    });
    
    
});

jQuery("#no_table_patientmember1").keyup(function(){

       $("#suggestions").show();
       var x = $('#no_table_patientmember1').val();
       $("#no_table_xpatientmember1").val(x);

      ajax('{{=URL('admin', 'patient_selector')}}', ['xpatientmember1'], 'suggestions')
      
       $("#hide").show()
      
});
      
jQuery("#no_table_patientmember").keyup(function(){
       
       $("#suggestions2").show();
       var x = $('#no_table_patientmember').val();
       $("#no_table_xpatientmember").val(x);        
       ajax('{{=URL('admin', 'newpatient_selector')}}', ['patientmember','xmemberid'], 'suggestions2')});
       









function newPatient(){

var xaction = document.getElementById("no_table_xaction")

xaction.value = "newPatient"

}


function qTreatment(){

var xaction = document.getElementById("no_table_xaction")

xaction.value = "qTreatment"

}



</script>