{{extend 'qlayout.html'}}

{{
response.files.insert(0,URL('static','js/jquery.js'))
response.files.insert(2,URL('static','js/calendar.js'))
response.files.insert(3,URL('static','js/web2py.js'))

from datetime import datetime
}}




<style>
.fc-row .fc-bg {
    z-index: 1;
    border-left: 1px solid #d6d6d6;
}
.fc-axis span{color:#000 !important}
.portlet.calendar .fc-button .fc-icon{color:#000 !important}
.caption-subject .bold .uppercase{color: #000 !important;}
.nav>li>a {padding: 3px 9px;}
.nav-pills>li>a, .nav-tabs>li>a {font-size: 14px;}
.portlet.calendar .fc-toolbar h2{margin-top: -65px;}
.fc-view, .fc-view > table{top: -33px;}
#suggestions { position: relative; }
.suggestions { background: white;z-index: 50000 !important;height: 250px; overflow-y: auto;border-bottom:1px solid #eeeeee;}
.suggestions DIV { padding: 2px 4px 2px 4px; }
.m-portlet__head-text{margin: 0px 0px 14px 0px;font-size: 15px;color: #eda026;font-weight: 400;}
.pat_details tr td{width: 100%;font-size:11px}
label{font-size:14px}
h5 {display: inline;}
.gr{background-color: #28b779  !important;border-color: #28b779  !important;color: #fff;font-size: 12px;font-weight: 600;}
.or{background-color: #ec871e !important;border-color: #ec871e !important;color: #fff;font-size: 12px;font-weight: 600;}
.rd{background-color: #fff !important;border-color: #f44336 !important;color: #000;font-size: 12px;font-weight: 600;}

.bl{background-color: #fff !important;border-color: #447bb2 !important;color: #fff;font-size: 12px;font-weight: 600;}
.bl:hover{background-color: #447bb2 !important;border-color: #447bb2 !important;color: #fff !important;font-size: 9px;font-weight: 600;}
.tit{display:inline;font-weight: 700;}
.hi{display: none !important}
hr{border-bottom: 1px solid #eda026;margin-bottom: 3px;margin-bottom: 3px;margin-top: -9px;}

.m-portlet__cal{height: auto !important;overflow-y:hidden}
        .calendar thead tr, .calendar thead .headrow {
          background-color: #eee;
          color: #000000;
        }
	.form-control{height: 31px;}
.page-content-wrapper .page-content{margin-top: 13px !important;}
	.page-header.navbar .menu-toggler.sidebar-toggler{margin-top: 76px !important;}
        .docter{list-style-type:none;padding-top:8px;text-align:left;margin-top:8px;border:1px solid #eee;padding-left: 11px;}
	.dp{padding-left:6px;font-size:12px}
        .blue1{border-left:3px solid #160cd1; }
        .red1{border-left:3px solid #c90047;}
        .green1{border-left:3px solid #00ff42;}
        .orange1{border-left:3px solid #ffc000;}
        .lightgreen1{border-left:3px solid #c6ff00;}
        .skyblue1{border-left:3px solid #00c6ff;}
    
    .dataTables_filter{float:right !important;}
    .dataTables_filter input{width:377px !important;}
    .scrolcont{height:100%;}
    .ic{font-size: 12px;color: #000 !important; padding: 0px 0px;}
</style>



<div class="row">
 
{{=form}}

</div>


<script>

$(document).ready(function(){
   
    $("#suggestions").hide();
    $("#hide").hide()
    $("#phide").click(function(){
	$("#hide").hide();
	$("#suggestions").hide();
    });   
    $("#suggestions") .click(function(){
	x1 = $("#no_table_patientmember1").val();
	$("#no_table_xpatientmember1").val(x1);
	var strarr1 = x1.split(":")
	$("#no_table_patientmember1").val(strarr1[0])
	$("#suggestions").hide();
	$("#hide").hide()    
    });
});

jQuery("#no_table_qtreatment1").keyup(function(){

       $("#suggestions").show();
       var x = $('#no_table_qtreatment1').val();
       $("#no_table_xqtreatment1").val(x);

      ajax('{{=URL('qhome', 'treatment_selector')}}', ['xqtreatment1'], 'suggestions')
      
       $("#hide").show()
      
});
      





function openTreatment(){

var xaction = document.getElementById("no_table_xaction")

xaction.value = "openTreatment"

}


function newTreatment(){

var xaction = document.getElementById("no_table_xaction")

xaction.value = "newTreatment"

}



</script>