{{extend 'pms2_layoutw4.html'}}
                        
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-white">
                                            <i class="fa fa-calendar" style="color:#fff"></i>
                                            <span class="caption-subject bold uppercase"> Member/Patient List</span>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-12">
                                    <!-- BEGIN Portlet PORTLET-->
                                       
                                      <div class="portlet-body">
                                        <div class="table-responsive">
                                        {{=form}}
                                        </div>
                                    </div>
                                  
                                    <!-- END Portlet PORTLET-->
                                  </div>

                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                                






                            </div>
                        </div>
                        
