{{extend 'pms2_layoutw4.html'}}
{{=formA.custom.begin}}

                        
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-white">
                                            <i class="fa fa-calendar" style="color:#fff"></i>
                                            <span class="caption-subject bold uppercase"> Email Message</span>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-12">
                                    <!-- BEGIN Portlet PORTLET-->
                                    <div class="col-sm-6 col-sm-offset-6 md_r">
                                       
                                        <div class="portlet-body" style="padding:20px">
                                            <div class="col-md-12 np">
                                                 
                                                  <div class="col-md-12">
                                                     <div class="form-group">
                                                       <div class="mt-repeater-input">
                                                                    <label class="m_title">To</label>
                                                                    
                                                                    {{=formA.custom.widget.to}}
                                                       </div>  
                                                       </div>  
                                                   </div>
                                                   <div class="col-md-12">
                                                     <div class="form-group">
                                                       <div class="mt-repeater-input">
                                                                    <label class="m_title">CC</label>
                                                                    <br>
                                                                    {{=formA.custom.widget.cc}}
                                                       </div>  
                                                       </div>  
                                                   </div>
                                                   <div class="col-md-12">
                                                     <div class="form-group">
                                                       <div class="mt-repeater-input">
                                                                    <label class="m_title">Subject</label>
                                                                    <br>
                                                                    {{=formA.custom.widget.subject}}
                                                       </div>  
                                                       </div>  
                                                   </div>
                                                   <div class="col-md-12">
                                                     <div class="form-group">
                                                       <div class="mt-repeater-input">
                                                                    <label class="m_title">Message</label>
                                                                    <br>
                                                                        {{=formA.custom.widget.message}}
                                                       </div>  
                                                       </div>  
                                                   </div>
                                               
                                            </div>
                                             
                                           
                                            
                                            <div class="col-md-12" style="margin-bottom:30px">
                                               <button type="submit" class="btn green">Send</button>
						<a href="{{=returnurl}}">Cancel </a>            
                                               
                                            </div>
					    {{if(retVal == False):}}
					    <h5 style="color:red">Error in sending Email Messages<h5>
					    {{pass}}
					    {{if(retVal == True):}}
					    <h5 style="color:red">Success in sending Email Messages<h5>
					    {{pass}}	
                                        </div>
                                    </div>
                                    <!-- END Portlet PORTLET-->
                                  </div>

                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                                






                            </div>
                        </div>
                        
{{=formA.custom.end}}