{{extend 'pms2_layoutw3.html'}}


{{=formA.custom.begin}}



<header class="w3-container w3-blue-grey">
      <h4><strong>{{=formheader}}</strong></h4>
</header> 

<div class="w3-hide">
{{=formA.custom.widget.emailtemplate}}
</div>

<div class="w3-container w3-padding-0">
<table>

 <tr>
       <td class="form_details ">
	   Email Template
       </td>
       <td class="form_details ">
		<select class="form_details" id="emailfiles" onchange="changeEmailFiles()">
		    <option value='0'>--Select--</option>
		    {{index=0}}
		    {{ for index in range(len(emailfiles)): }}
			<option value={{=index+1}}>{{=emailfiles[index]}}</option>
			
		    {{pass}}
                </select>    
       
	
	</td>
    </tr>  
    
  <tr>
       <td >
	   To:
       </td>
       <td >
	{{=formA.custom.widget.to}}
	</td>
    </tr>

  <tr>
       <td >
	   Message:
       </td>
       <td >
<div id="emaildiv">       
	{{=formA.custom.widget.description}}
</div>	
	</td>
    </tr>

<tr>
<td></td>
<td>
{{=formA.custom.submit}}
</td>
</tr>
</table>

<div>

</div>

{{if(retVal == False):}}
<h5 style="color:red">Error in sending Email <h5>
{{pass}}
{{if(retVal == True):}}
<h5 style="color:red">Success in sending Email<h5>
{{pass}}
{{=formA.custom.end}}
</div>

<script>

jQuery(document).ready(function(){
<!--alert(smsfile)-->
var x = document.getElementById("no_table_emailtemplate");
    x.value = "Email_Empty.txt";

ajax('{{=URL('utility','emailmessage')}}', ['emailtemplate'], 'emaildiv');   
}); 

function changeEmailFiles(){

var emailfiles = document.getElementById("emailfiles");
var emailfile = emailfiles.options[emailfiles.selectedIndex].text;

<!--alert(emailfile)-->
var x = document.getElementById("no_table_emailtemplate");
    x.value = emailfile;
   
ajax('{{=URL('utility','emailmessage')}}', ['emailtemplate'], 'emaildiv');   
   

   
};
</script>