{{extend 'super_layoutw4.html'}}

   

     <div class="row">
      
       <div class="col-md-12">
         <div class="portlet light bordered" style="border: 1px solid #dadada!important;">
            {{=formC.custom.begin}}
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-medkit" style="color:#000"></i>
                    <span class="caption-subject bold uppercase">Activity Date: {{=stractdt}}</span>
                </div>
            
             <div style="display:none">
             {{=formC.custom.widget.activitydate}}
             </div>
            
            </div>
            {{=formC.custom.end}}
            
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-medkit" style="color:#000"></i>
                    <span class="caption-subject bold uppercase">Activity Tracker - Appointments</span>
                </div>
              {{=formAppts}}
            </div>
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-medkit" style="color:#000"></i>
                    <span class="caption-subject bold uppercase">Activity Tracker - Treatments</span>
                </div>
              {{=formTrtmnts}}
            </div>
            
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-medkit" style="color:#000"></i>
                    <span class="caption-subject bold uppercase">Activity Tracker - Payments</span>
                </div>
              {{=formPayments}}
            </div>
            
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-medkit" style="color:#000"></i>
                    <span class="caption-subject bold uppercase">Appointments Group SMS Messages</span>
                </div>
                {{=formSMS}}
            </div>            
         </div>
       </div>  
   </div>
   

<button onclick="stopactivitytracker()">Stop Activity Tracker</button>

<script>
var activityTrack = setInterval(activitytracker, {{=timeinterval}});


function activitytracker() {

    var dt = document.getElementById("no_table_activitydate").value;

    window.open("/my_pms2/superadmin/activitytracker?groupapptsms=0&activitydate=" + dt,"_self")
}

function stopactivitytracker(){
    clearInterval(activityTrack)
    window.open("/my_pms2/superadmin/superadmin")
}

</script>