
{{extend 'super_layoutw4.html'}}


     <div class="row">
       <div class="col-md-12">
         <div class="portlet light bordered" style="border: 1px solid #dadada!important;">
            <div class="portlet-title" style="border-bottom: 1px solid rgb(230, 230, 230); background:none">
                <div class="caption font-dark">
                    <i class="fa fa-stethoscope" style="color:#000"></i>
                    <span class="caption-subject bold uppercase"> List of Case Papers</span>
                </div>
              {{=form}}
            </div>
         </div>
	    <div class="col-md-12" style="margin-bottom:30px">
	       <a href="{{=returnurl}}">Cancel </a>
	    </div>

         
       </div>  
   </div>
