{{extend 'pms2_layoutw4.html'}}

{{=formA.custom.begin}}


                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title" style="padding:0px 20px  !important">
                                        <div class="caption font-white" style="    width: 100%;">
                                            <span class="caption-subject bold uppercase">R<sub>x</sub>&nbsp;&nbsp;New Prescription for {{=patientname}}&nbsp;&nbsp;{{=gender}} &nbsp;&nbsp;{{=age}} yrs.</span>
                                            <span style="text-align:right;float:right">{{=doctorname}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                                    <!-- BEGIN Portlet PORTLET-->
                                   
     
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    
    <form>
    <div class="col-md-12">
    <div class="col-md-4">
           <div class="form-group">
            <label class="m_title">Date</label>
                  <div class="input-group">
                        {{=formA.custom.widget.prescriptiondate}}
                  </div>
           </div>
      </div>
    
   </div>
   
     <div class="col-md-12">
            <div class="col-md-8">
                   <div class="form-group">
                    <label class="m_title">Drug</label>
                          <div class="input-group">
                                {{=formA.custom.widget.medicine}}
                          </div>
                   </div>
              </div>
              <div class="col-md-2">
                   <div class="form-group">
                    <label class="m_title">Strength</label>
                          <div class="input-group">
                                {{=formA.custom.widget.strength}}
                          </div>
                   </div>
              </div>
              <div class="col-md-2">
                   <div class="form-group">
                    <label class="m_title">Measure</label>
                          <div class="input-group">
                                {{=formA.custom.widget.strengthuom}}
                          </div>
                   </div>
              </div>
              
    </div>
  
     <div class="col-md-12">
            <div class="col-md-4">
                   <div class="form-group">
                    <label class="m_title">Frequency</label>
                          <div class="input-group">
                                {{=formA.custom.widget.frequency}}
                          </div>
                   </div>
              </div>
              <div class="col-md-4">
                   <div class="form-group">
                    <label class="m_title">Duration</label>
                          <div class="input-group">
                                {{=formA.custom.widget.dosage}}
                          </div>
                   </div>
              </div>
              <div class="col-md-4">
                   <div class="form-group">
                    <label class="m_title">Quantity</label>
                          <div class="input-group">
                                {{=formA.custom.widget.quantity}}
                          </div>
                   </div>
              </div>
              
    </div>
    <div class="col-md-12">
    <div class="col-md-12">
      <div class="form-group">
       <label class="m_title">Instructions</label>
             <div class="input-group">
                   {{=formA.custom.widget.remarks}}
             </div>
      </div>
      </div>
    </div>
  
     
 
  
   <div class="col-md-12" style="margin-bottom:30px">
    <div class="col-md-12">
      <button type="submit" class="btn green">Save </button>
      <a href="{{=returnurl}}">Cancel </a>
      
   </div>
   </div>
  </form>



  </div>
 
                                  
                                    <!-- END Portlet PORTLET-->
                                  </div>

                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                                






                            </div>
                          
                        </div>


{{=formA.custom.end}}

<script>
$("#no_table_medicine").change(function(){
    
       
       var x = $('#no_table_medicine').val();
       var y = $('#no_table_medicine :selected').text();
       var z = $('#no_table_medicine :selected').index();

      
      var meds = y.split(":")
      
       $('#no_table_strength').val(meds[1]);
       
       $('#no_table_strengthuom').val(meds[2]);
      
      
      
       
    });
</script>
